<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/style.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
     </style>

    <title>Compose | twitter</title>
</head>
<body>
    <div class="wrapper">
        <div class="content-wrapper">
            <header>
                <h1>
                    Tweet
                </h1>
            </header>
    
            <section>
                <form method="post" action="/compose/<%=route%>">
                    <textarea name="text" placeholder="Enter text here.." required></textarea><br>
                    <input class="submit" type="submit" value="TWEET NOW" name="submit">
                </form>
            </section>
        </div>

        <footer>
            <h4>
                Copyright @Varun
            </h4>
        </footer>
    </div>
    
</body>
</html>