<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/style.css" rel="stylesheet">
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');
    </style>

    <title>twitter</title>
</head>
<body>
    <div class="wrapper">
        <div class="content-wrapper">
            <header>
                <h1>
                    Twitter
                </h1>
            </header>
    
            <section>
                <div class="introduction">
                    <p>
                        Dive right into it,<br>
                        <b>Tweet</b> what you think, <b>Like</b> what you love, <b>Follow</b> what's interesting & <b>Celebrate</b> life!
                    </p>
                </div>
                <div class="button-wrapper">
                    <button class="submit1" onclick="location.href='/signUp'">SIGN UP</button>
                    <button class="submit2" onclick="location.href='/signIn'">SIGN IN</button>
                </div>
            </section>
        </div>

        <footer>
            <h4>
                Copyright @Varun
            </h4>
        </footer>
    </div>
    
</body>
</html>